Source: flatlock
Section: utils
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es> 
Build-Depends: debhelper (>=9)
Standards-Version: 4.1.2
Homepage: http://lliurex.net
Vcs-Browser: https://svn.lliurex.net/xenial/epi

Package: flatlock
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description:Flatpak user locker

